{% extends "layout.html" %}

{% block title %}Resultado{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <div class="card shadow p-4 mx-auto" style="max-width: 400px;">
        <h4 class="card-title">Resultado da Conversão</h4>
        <div class="card-body">
            <p class="fs-4">
                {{ valor|float|round(2) }} {{ unidade_origem }} = {{ resultado|float|round(2) }} {{ unidade_destino }}
            </p>
            <a href="/" class="btn btn-primary mt-3">Fazer nova conversão</a>
        </div>
    </div>
</div>
{% endblock %}
